body {
    margin: 0;
    padding: 0;
    /*padding-top: 1em;*/
    font-family: Arial;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    background: linear-gradient(150deg, #0b0a4b 20% ,#7f2f9e 40%, #048c96 90%);
    /*background-image: url("images/auto.jpg");*/
    background-attachment: fixed;
    background-size: cover;
    /*transition: background 0.6s ease-in-out;*/
    display: flex;
    font-family: monospace;
}
.side-bar {
    width: 15%;
    height: 100vh;
    background-color: #242424;
    color: rgb(194, 194, 194);
    box-sizing: border-box;
}
.side-bar a {
    display: block;
    padding: 15px 20px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.side-bar a:hover {
  background-color: #424242;
}
.side-bar a.active {
  background-color: #70066b;
}
.hoofd-container {
    position: relative;
    width: 85%;
    padding: 30px;
    box-sizing: border-box;
}
.top-sectie {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topic {
    margin: 0 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.reset {
    cursor: pointer;
    padding: 10px;
}
.graad {
    display: flex;
    gap: 30px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    margin-left: 200px;
}
input[type="radio"] {
    transform: scale(2); /* 1.5 is 150% van de originele grootte */
    margin-right: 16px; /* optioneel, om ruimte te maken voor tekst of andere elementen */
}
.topic p {
    display: inline;
    margin: 0;
    font-size: 25px;
    padding: 10px;
    border-radius: 3px;
    /*background-color: rgba(3, 3, 3, 0.61);*/
    color: rgb(255, 255, 255);
}
.raad-container {
    font-family: Arial;
    display: inline-flex;
    gap: 5px;
    background: rgba(29, 29, 29, 0);
    border-radius: 3px;
}
.blok {
    font-size: 33px;
    font-weight: bold;
    width: 36px;
    height: 50px;
    line-height: 50px;
    background: #313131;
    border: 1px solid rgba(148, 148, 148, 0.575);
    text-align: center;
}
.midden-sectie {
    margin: 100px 100px 0;
    display: flex;
    justify-content: space-between;
}
.kleine-letters input {
    display: inline;
    margin-right: 1em;
    scale: 1.5;
}
.kleine-letters {
    margin-bottom: 15px;
    /*position: absolute;
    top: 190px;
    left: 600px;*/
}
.toetsenbord {
    padding: 1em;
    /*border: 1px solid gray;*/
    border-radius: 5px;
    background: #202020e0;
    display: grid;
    grid-template-columns: repeat(13, 50px);
    grid-template-rows: repeat(2, 50px);
    gap: 10px;
}
.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 0 0 10px rgba(250, 250, 250, 0.63);
    background: radial-gradient(circle, #282841 10% ,#171718 90%);
    transition: all 0.1s ease-in-out;
}
.letter:hover {
    scale: 1.3;
}
.letter-used {
    color: #2c2c2c;
}
.letter-used:hover {
    scale: 1;
}

.doors-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(8, 90px);
    grid-template-rows: repeat(3, 125px);
    gap: 10px;
}
.doors-container img {
    cursor: pointer;
}
#foutePogingen {
    width: 350px;
}
.media {
    display: flex;
    gap: 20px;
    align-items: center;
}
.geluid img { 
    cursor: pointer;
}

#image-container {
    display: block;
    padding: 1em;
    width: 11em;
    /*height: 17em;*/
    background: rgb(236, 238, 250);
    border-radius: 7px;
}
.fa-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fffffffa;
    font-size: 30px;
    font-weight: normal;
    transition: 0.3s;
}
.fa-close:hover {
    color: #da0000;
}
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}
.modal {
    text-align: center;
    font-size: 1.5em;
    font-family: monospace;
    display: none; /* Verborgen standaard */
    position: fixed;
    /*top: 50%;*/
    left: -100%;
    max-width: 800px;
    min-width: 500px;
    margin-top: 30px;
    padding-top: 80px;
    background-color: rgba(216, 216, 216, 0.199);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    /*border-radius: 5px;*/
    /*border: 8px solid rgb(206, 206, 206);*/
    z-index: 2;
    /*transform: scale(0);*/
    animation: zoom 0.5s forwards; /* Gebruik forwards om animatie op het einde te bewaren */
}
#overlay {
    padding: 0.6em 0.4em;
    
}
@keyframes zoom {
    0% {
        left: -100%;
    }
    80% {
        left: 50%;
    }
    100% {
        left: 50%;
        transform: translateX(-50%);
    }
}

/*Timer*/
select {
    font-size: 0.8em;
    padding: 0.2em 1em;
    border-radius: 3px;
    background-color: #303030;;
    color: rgb(255, 255, 255);
}
.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn {
    display: block;
    padding: 0.2em 1em;
    /*height: 30px;*/
    font-size: 0.8em;
    background: #303030;
    color: rgb(192, 192, 192);
    border-radius: 3px;
    width: 150px;
    /*margin-bottom: 1em;
    margin-right: 2em;*/
    transition: background 0.3s ease;
}
.btn:hover {
    background: #585858;
}
.timer-container {
    display: flex;
    justify-items: center;
    gap: 20px;
}
.timer-container p {
    font-size: 0.8em;
    margin-top: 0.3em;
    margin-bottom: 1.35em;  /*0.85 bij arial font 0.8em*/
}
.timer-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 75px;
    background: #303030;
    border-radius: 7px;
    font-size: 2.2rem;
    color: #ffffff;
    font-weight: bold;
    /*border: 1px solid rgba(0, 0, 0, 0.26);*/
    /*margin-left: 1em;*/
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);*/
}
  
  
  