/* Responsive voor tablets en kleinere schermen */
@media (max-width: 1700px) {
    .top-sectie.on-small {
        gap: 1.5rem;
    }
}
@media (max-width: 1600px) {
    .media {
        width: 90%;
        justify-content: space-between;
    }
    .graad {
        margin:0;
    }
    .hint-container {
        margin-top: 0;
    }
    .hints-group.on-small {
        flex-direction: row;
        gap: 1rem;
    }
    .top-sectie.on-small {
        flex-direction: column;
        /*justify-content: center;*/
        align-items: center;
        gap: 0;
    }
    .midden-sectie.on-small {
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    .timer-container.on-small {
        display: none;
    }
    .foute-pogingen {
        margin-top: 0;
    }
}
@media (max-width: 980px) {
    .game-topic {
        flex-direction: column;
        gap: 1rem;
    }
    
}

@media (max-width: 500px) {
    .toetsenbord {
        grid-template-columns: repeat(10, 3rem);
        grid-template-rows: repeat(3, 3rem);
    }
    .doors-container {
        grid-template-columns: repeat(6, 5rem);
    }
}
