/* Responsive voor tablets en kleinere schermen */
@media (max-width: 1700px) {
    .top-sectie.on-small {
        gap: 1.5rem;
    }
}
@media (max-width: 1600px) {
    .hint-container.on-small {
        flex-direction: row;
    }
    .top-sectie.on-small {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 0;
    }
    .game-topic .topic-text {
        padding-left: 0;
    }
    .midden-sectie.on-small {
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    .foute-pogingen.on-small {
        background: transparent;
        width: 180px;
    }
    .timer-container.on-small {
        display: none;
    }
}
@media (max-width: 980px) {
    .game-topic {
        flex-direction: column;
        align-items: start;
        gap: .4rem;
    }
    /*.toetsenbord {
        grid-template-columns: repeat(10, 3rem);
        grid-template-rows: repeat(3, 3rem);
    }*/
}

/*@media (max-width: 700px) {
    .toetsenbord {
        grid-template-columns: repeat(10, 3rem);
        grid-template-rows: repeat(3, 3rem);
    }
}*/

/*@media (max-width: 500px) {
    .toetsenbord {
        grid-template-columns: repeat(6, 35px);
        grid-template-rows: repeat(5, 35px);
        gap: 5px;
        padding: 0.6rem;
    }
}*/