.game-topic {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}
.game-topic .topic-text {
    font-size: 1.5rem;
    padding: .5rem 2rem;
    border-radius: 4px;
    background-color: rgba(3, 3, 3, 0.61);
    letter-spacing: .15rem;
}
.raad-container {
    font-family: Arial;
    display: flex;
    flex-direction: row;
    gap: 5px;
    background: rgba(29, 29, 29, 0);
    border-radius: 3px;
    flex-wrap: wrap;
}
.blok {
    font-size: 33px;
    font-weight: bold;
    width: 36px;
    height: 50px;
    line-height: 50px;
    background: #313131;
    border: 1px solid rgba(148, 148, 148, 0.575);
    text-align: center;
}
.kleine-letters input {
    display: inline;
    margin-right: 1em;
    scale: 1.5;
}
.kleine-letters {
    margin-bottom: 15px;   
}
.toetsenbord {
    padding: 1rem;
    border-radius: 5px;
    background: #202020e0;
    display: grid;
    grid-template-columns: repeat(13, 50px);
    grid-template-rows: repeat(2, 50px);
    gap: 10px;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 0 0 10px rgba(250, 250, 250, 0.63);
    background: radial-gradient(circle, #282841 10% ,#171718 90%);
    transition: all 0.1s ease-in-out;
}
.letter:hover {
    scale: 1.3;
}
.letter-used {
    color: #2c2c2c;
}
.letter-used:hover {
    scale: 1;
}
.hint-container {
    margin-top: 40px;
    display: flex;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgba(3, 3, 3, 0.61);
    border-radius: 3px;
    padding: 0 20px;
}
/*.hint-container .game-topic-text {
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(3, 3, 3, 0.61);
    color: rgb(255, 255, 255);
}*/
.hint {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50%;
    background: #daa520  /*#007c80*/;
    color: #222020;

}
.hint-used {
    background: #303030;
    color: #818181;
}