.game-topic {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}
.game-topic .topic-text {
    font-size: 1.4rem; /*clamp(0.8rem, 2vw, 1.4rem);*/
    padding: .5rem 2rem;
    border-radius: 4px;
    background-color: rgba(3, 3, 3, 0.61);
    letter-spacing: .15rem;
    white-space: nowrap;
}
.raad-container {
    font-family: Arial;
    display: flex;
    flex-direction: row;
    gap: .3rem;
    background: rgba(29, 29, 29, 0);
    /*border-radius: 3px;*/
    flex-wrap: wrap;
}
.blok {
    font-size: 2rem;
    font-weight: bold;
    width: 2.1rem;
    height:3rem;
    line-height: 3rem;
    background: #313131;
    border: 1px solid var(--border-color);
    text-align: center;
}
.kleine-letters input {
    display: inline;
    margin-right: 1rem;
    scale: 1.2;
}
.kleine-letters {
    margin-bottom: 1rem;   
}
.toetsenbord {
    padding: 1rem;
    border-radius: 5px;
    background: #202020e0;
    display: grid;
    grid-template-columns: repeat(13, 3rem);
    grid-template-rows: repeat(2, 3rem);
    gap: .5rem;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: .3rem;
    cursor: pointer;
    text-shadow: 0 0 10px rgba(250, 250, 250, 0.63);
    background: radial-gradient(circle, #282841 10% ,#171718 90%);
    transition: all 0.1s ease-in-out;
}
.letter:hover {
    scale: 1.3;
}
.letter-used {
    color: #2c2c2c;
}
.letter-used:hover {
    scale: 1;
}
.hint-container {
    margin-top: 2.5rem;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    background-color: rgba(3, 3, 3, 0.61);
    border-radius: 3px;
    padding: 0 1.3rem;
}
/*.hint-container .game-topic-text {
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(3, 3, 3, 0.61);
    color: rgb(255, 255, 255);
}*/
.hint {
    cursor: pointer;
    padding: .6rem 1.3rem;
    border-radius: 50%;
    background: #daa520  /*#007c80*/;
    color: #222020;

}
.hint-used {
    background: #303030;
    color: #818181;
}