.graad {
    display: flex;
    gap: 2rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 19rem;
    margin-right: 2rem;
}
input[type="radio"] {
    transform: scale(1.5); /* 1.5 is 150% van de originele grootte */
    margin-right: 1rem; /* optioneel, om ruimte te maken voor tekst of andere elementen */
}
.doors-container {
    display: grid;
    grid-template-columns: repeat(8, 5rem);
    /*grid-template-rows: repeat(3, 8rem);*/
    gap: .8rem;
}
.doors-container img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
}
