.game-container select {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.3rem 0.8rem;
  background: rgb(241, 241, 241);
  color: rgb(143, 9, 170);
  border-radius: .3rem;
}
.game-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.game-board {
  display: grid;
  gap: 0px;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 6rem;
  /*color: black;*/
  border: 1px solid #ccc;
  cursor: pointer;
  text-shadow: 0 0 10px rgba(250, 250, 250, 0.63);
  background: radial-gradient(circle, #252785 10% ,#030520 90%);
  /*transition: color 0.2s;*/
}
/*.cell.winning {
  color: #9c9c9c;
}*/
  
#feedback {
  /*position: absolute;*/
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transform: translate(-50%, -50%) scale(0); /* Start klein, gecentreerd */
  animation: zoom 0.4s forwards; /* Gebruik forwards om animatie op het einde te bewaren */
  margin-top: 10px;
  padding: 0.4rem 1.9rem;
  border-radius: .3rem;
  border: 2px solid #ffffff;
  background: rgba(209, 209, 209, 0.445);
  text-shadow: 0 0 10px #fafafaa1;
  color: #ffffff;
  
  letter-spacing: 0.1em;
  
  text-align: center;
  z-index: 2;
}
@keyframes zoom {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    80% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
.bericht {
  width: fit-content;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 0.4rem 1.9rem;
  border-radius: .3rem;
  /*border: 2px solid #ffffff;*/
  /*background: rgba(54, 54, 54, 0.84);*/
  /*text-shadow: 0 0 10px rgba(250, 250, 250, 0.63);*/
  color: #ffffff;
}
.bericht.red {
  background: rgba(186, 64, 211, 0.486);
}
.bericht.blue {
  background: #5f6ce081;
}
.bericht:empty{
  border: none;
  background: none;
}

#win-line {
  position: absolute;
  width: .25rem;
  height: 0;
  background-color: rgb(255, 255, 255);
  transform-origin: top left;
  display: none; /* Begin verborgen */
  z-index: 10;
}
.winning {
  /*opacity: 0;*/
  /*transform: scale(0);*/
  font-size: 20px;
  /*transition: font-size 1s ease-in-out/*, opacity 0.3s ease-out*/
}
.winning.animate {
  /*opacity: 1;*/
  /*transform: scale(1);*/
  animation: win 0.5s 3 forwards;
}
@keyframes win {
  0% {
    font-size: 1.2rem;
  }
  80% {
    font-size: 7.5rem;
  }
  100% {
    font-size: 6.25rem;
  }
}
  