.timer-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    /*justify-items: flex-start;*/
    gap: 20px;
}
.timer-afstellen {
    display: flex;
    align-items: center;
    gap: 10px;
}
.timer-container p {
    font-size: 1.1rem;
}
.timer-container select {
    font-size: 0.8em;
    padding: 0.2em 1em;
    border-radius: 3px;
    background-color: #343d5c;
    color: rgb(255, 255, 255);
    border: 3px solid #69708a;
}
.timer-afstellen option {
    background-color: #ececec;
    color: rgb(29, 29, 29);
}
.btn-container {
    display: flex;
    flex-direction: column;
    gap: .9rem;
}
.btn {
    display: block;
    padding: .5rem 2rem;
    font-size: 1rem;
    background: #343d5c;
    color: rgb(192, 192, 192);
    border-radius: 3px;
    transition: background 0.3s ease;
    white-space: nowrap;
}
.btn:hover {
    background: #4d5472;
}
.timer-group {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
}
.timer-element {
    background: #343d5c;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    border: 3px solid #69708a;
}